body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

/* Título da página */
.titulo h1 {
    width: 540px;
    margin: 40px auto 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

/* Conteúdo da página */
.conteudo {
    width: 879px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo > div {
    width: 117px;
    height: 146px;
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 34px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face{
    position: absolute;
    backface-visibility: hidden;
}

.face img{
    height: 100px;
    width: 100px;
}
  
.verso {
    transform: rotateY( 180deg );
  }

.virar {
    transform: rotateY(180deg);
}

@media (max-width: 767px) {
    /* Título da página mobile */
    .titulo h1 {
        width: 100%;
        font-size: 36px;
        text-align: center;
        line-height: 42px;
        letter-spacing: -0.004em;
    }

    .conteudo {
        width: 100%;
    }

    .conteudo > div {
        margin-right: 109px;
        margin-left: 109px;
    }

}
